<%- include('header'); %>>
<div id="weather">
    <div id="description"><%= description%></div>
    <h1 id="temp"><%= temp%></h1>
    <div id="location"><%= city%></div>
</div>
<div id="city-form">
    <form id="change-city">
        <label>City</label>
        <input type="text" id="city-name">
        <br>
        <input type="submit" value="Save changes">
    </form>
</div>
<%- include('footer'); %>>